.home-button {
  font-family: 'Press Start 2P', system-ui;
  justify-self: right;
  text-decoration: none;
  color: black;
  margin: 1%;
  padding: 20px 40px;
  border: 1px solid purple;
  border-radius: 25px 25px 25px 25px;
  background-color: transparent;
  cursor: pointer;
}

.home-button:hover {
  background-color: #ab63fb;
}
