.Home {
  background-color: #da68b3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dropdown {
  position: absolute;
  margin-top: 15vh;
  margin-left: 5vh;
}

.tracklist-container {
  border: 3px solid black;
  align-self: flex-end;
  margin-right: 10vh;
  margin-top: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 2vh;
}