.Home {
  background-color: #ffb1c7;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown {
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 20vh;
}

.tracklist-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 60%;
  border: 3px solid #50c6cb;
  background: url('../../../public/piece-paper-with-paper-balls-around.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.image-credits {
  font-size: 0.5rem;
  display: flex;
  align-self: flex-end;
}