header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color: #c5d32d;
}

.page-title, .page-title-albums-page {
  font-family: 'Press Start 2P', system-ui;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* MEDIUM BREAKPOINT */
@media screen and (max-width: 1449px) and (min-width: 700px) {
  header {
    display: flex;
    justify-content: center;
    background-color: #c5d32d;

  }

  .page-title {
    font-family: 'Press Start 2P', system-ui;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  .page-title-albums-page {
    font-family: 'Press Start 2P', system-ui;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    padding-right: 10%;
  }
}

/* SMALL BREAKPOINT */
@media screen and (max-width: 699px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #c5d32d;
  }

  .page-title {
    font-family: 'Press Start 2P', system-ui;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .page-title-albums-page {
    font-family: 'Press Start 2P', system-ui;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
}