html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
.albums-by-year-container {
    background-color: #da68b3;
    padding: 20px;
    font-family: 'Averia Serif Libre', serif;
    font-family: 'Silkscreen', sans-serif;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    font-family: 'Averia Serif Libre', serif;
    font-family: 'Silkscreen', sans-serif;
}

.album {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
 
.album-cover {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.album-title {
    margin-top: 10px;
}

.home-button {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    border: 1px solid purple;
    border-radius: 25px 25px 25px 25px;
    background-color: transparent;
    cursor: pointer;
}

.home-button:hover {
    background-color: #ab63fb;
}

.year-title {
  color: black;
  text-align: center;
}

.album-link {
    text-decoration: none;
  }

.album {
    background-color: #eeee9c;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
    color: black;

    font-weight: bold;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
  
.album:hover {
    transform: translateY(-2px);
    background-color: #89b759;
}

.album:active {
    transform: translateY(2px);
    background-color: #ab63fb;
}